<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Runtime Setting -->
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>

  <appSettings>
    <add key="Sample" value=""/>
  </appSettings>

  <!-- App Settings -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dlls"/>
    </assemblyBinding>
  </runtime>

</configuration>
